body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FF512F, #DD2476);
    color: rgb(182, 170, 170);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#successMessage {
    background-color: #4CAF50;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}